<div class="leftpanel">
    <div class="leftpanelinner">
        <div id="mainmenu">
            <h5 class="sidebar-title">Main Menu</h5>
            <ul class="nav nav-pills nav-stacked nav-quirk">
                <li [routerLinkActive]="['active']"><a [routerLink]="['/dashboard']"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                <li [routerLinkActive]="['active']" class="nav-parent"><a href="#"><i class="fa fa-list-alt"></i> <span>Sale</span></a>
                    <ul class="children">
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/sale/order']">Order</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/sale/product']">Product</a></li>
                    </ul>
                </li>
                <li [routerLinkActive]="['active']" class="nav-parent"><a href="#"><i class="fa fa-list-alt"></i> <span>Purchase</span></a>
                    <ul class="children">
                        <li><a [routerLink]="['/sale/product']" [queryParams]="{quick_filter_value: '3'}">Generate purchase</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/purchase/add']">Create</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/purchase/list']">List</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/purchase/product']">Product List</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/purchase/calendar/pickup']">Pickup Scheduled</a></li>
                    </ul>
                </li>
                <li [routerLinkActive]="['active']" class="nav-parent"><a href="#"><i class="fa fa-cubes"></i> <span>Stock</span></a>
                    <ul class="children">
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/stock/list']">List</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>