<div class="panel">
    <div class="panel-heading">
        <!--<button class="btn btn-success btn-quirk btn-wide mr5" [routerLink]="['/receipt/add']">Add New</button>-->
        <button class="btn btn-success btn-quirk btn-wide mr5" (click)="export()">Export</button>
        <button class="btn btn-success btn-quirk btn-wide mr5" (click)="generatePurchases()" [class.hidden]="quickFilterValue != '3'">Generate Purchases</button>
    </div>
    <div class="panel-body">
        <div class="form-inline" id="filter">
            <div class="form-group">
                <label>Quick filter</label>
                <select id="quick-filter" class="form-control" (change)="quickFilter($event.target.value)" [(ngModel)]="quickFilterValue">
                    <option value="">-- Select filter --</option>
                    <option value="1">Valid Products</option>
                    <option value="2">Now until 2 days after</option>
                    <option value="3">Products for auto generating purchases</option>
                </select>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped-col" id="data-table" width="100%">
                <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th><input type="text" class="form-control" data-type="id"></th>
                    <th><input type="daterange" class="form-control" data-type="date"></th>
                    <th><input type="daterange" class="form-control" data-type="date" [(ngModel)]="input.delivery_date"></th>
                    <th><input type="text" class="form-control" data-type="regex"></th>
                    <th><input type="text" class="form-control" data-type="regex"></th>
                    <th><input type="text" class="form-control" data-type="regex"></th>
                    <th><input type="text" class="form-control" data-type="number"></th>
                    <th>
                        <select class="form-control select2" id="status" style="width: 100%" multiple [(ngModel)]="input.status">
                            <option *ngFor="let i of product_status" [value]="i.value">{{i.name}}</option>
                        </select>
                    </th>
                    <th><input type="text" class="form-control" data-type="regex"></th>
                    <th><input type="text" class="form-control" data-type="number"></th>
                    <th><input type="text" class="form-control" data-type="number"></th>
                    <th>
                        <select class="form-control select2" id="category" style="width: 100%" multiple [(ngModel)]="input.supplier_cate_id">
                            <option *ngFor="let i of categories" [value]="i.cate_id * 1">{{i.name}}</option>
                        </select>
                    </th>
                    <th><input type="text" class="form-control" data-type="regex"></th>
                    <th>
                        <select class="form-control select2" style="width: 100%" multiple>
                            <option *ngFor="let i of order_types" [value]="i.value">{{i.name}}</option>
                        </select>
                    </th>
                    <th>
                        <select class="form-control select2" style="width: 100%" multiple>
                            <option *ngFor="let i of order_sources" [value]="i.value">{{i.name}}</option>
                        </select>
                    </th>
                    <th><input type="text" class="form-control" data-type="regex"></th>
                    <th>
                        <select class="form-control select2" style="width: 100%" multiple>
                            <option *ngFor="let i of order_status" [value]="i.value">{{i.name}}</option>
                        </select>
                    </th>
                    <th>
                        <select class="form-control select2" style="width: 100%" multiple>
                            <option *ngFor="let i of order_payment_methods" [value]="i.value">{{i.name}}</option>
                        </select>
                    </th>
                    <th><input type="text" class="form-control" data-type="regex"></th>
                    <th><input type="text" class="form-control" data-type="regex"></th>
                    <th><input type="text" class="form-control" data-type="regex"></th>
                    <th><input type="text" class="form-control" data-type="regex"></th>
                    <th><input type="text" class="form-control" data-type="regex"></th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>