<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()" >&times;</button>
            <h4 class="modal-title">{{title || 'Logs'}}</h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-striped-col" width="100%" id="log"></table>
        </div>
    </div>
</div>