<div class="panel">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group col-sm-6" [ngClass]="{'has-error': submitted && form.controls.name.errors}">
                <label class="col-sm-3 control-label">Name <span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="name">
                    <label class="error" *ngIf="submitted && form.controls.name.hasError('required')">
                        This field is required.
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-6" [ngClass]="{'has-error': submitted && form.controls.sku.errors}">
                <label class="col-sm-3 control-label">SKU <span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="sku">
                    <label class="error" *ngIf="submitted && form.controls.sku.hasError('required')">
                        This field is required.
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                    <textarea class="form-control" formControlName="desc" rows="4"></textarea>
                </div>
            </div>
            <div class="form-group col-sm-6" [ngClass]="{'has-error': submitted && form.controls.attributes.errors}">
                <label class="col-sm-3 control-label">Attribute <span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <select id="attributes" class="form-control select2" style="width: 100%" multiple>
                        <option *ngFor="let i of attributes" [value]="i.name">{{i.name}}</option>
                    </select>
                    <label class="error" *ngIf="submitted && form.controls.attributes.hasError('required')">
                        This field is required.
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-6" [ngClass]="{'has-error': submitted && form.controls.company_id.errors}">
                <label class="col-sm-3 control-label">Company <span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <select class="form-control" formControlName="company_id">
                        <option value="">-- Select option --</option>
                        <option *ngFor="let i of companies" [value]="i.id">{{i.name}}</option>
                    </select>
                    <label class="error" *ngIf="submitted && form.controls.company_id.hasError('required')">
                        This field is required.
                    </label>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-sm-6" [ngClass]="{'has-error': submitted && form.controls.unit.errors}">
                <label class="col-sm-3 control-label">Unit <span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <select class="form-control" formControlName="unit">
                        <option value="">-- Select option --</option>
                        <option *ngFor="let i of units" [value]="i.value">{{i.name}}</option>
                    </select>
                    <label class="error" *ngIf="submitted && form.controls.unit.hasError('required')">
                        This field is required.
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-6" [ngClass]="{'has-error': submitted && form.controls.cate.errors}">
                <label class="col-sm-3 control-label">Category <span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <select class="form-control" formControlName="cate">
                        <option value="">-- Select option --</option>
                        <option *ngFor="let i of categories" [value]="i.code">{{i.name}}</option>
                    </select>
                    <label class="error" *ngIf="submitted && form.controls.cate.hasError('required')">
                        This field is required.
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-6" [ngClass]="{'has-error': submitted && form.controls.stock_type.errors}">
                <label class="col-sm-3 control-label">Stock Type <span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <select class="form-control" formControlName="stock_type">
                        <option value="">-- Select option --</option>
                        <option *ngFor="let i of stock_types" [value]="i.value">{{i.name}}</option>
                    </select>
                    <label class="error" *ngIf="submitted && form.controls.stock_type.hasError('required')">
                        This field is required.
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-6" [ngClass]="{'has-error': submitted && form.controls.status.errors}">
                <label class="col-sm-3 control-label">Status <span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <select class="form-control" formControlName="status">
                        <option value="">-- Select option --</option>
                        <option *ngFor="let i of status" [value]="i.value">{{i.name}}</option>
                    </select>
                    <label class="error" *ngIf="submitted && form.controls.status.hasError('required')">
                        This field is required.
                    </label>
                </div>
            </div>

            <hr style="width: 100%">

            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <button type="submit" class="btn btn-success btn-quirk btn-wide mr5">Submit</button>
                    <button type="button" (click)="back()" class="btn btn-quirk btn-wide btn-default">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>