<div class="loader">
    <div class="sk-wave">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
    </div>
</div>
<header>
    <div class="headerpanel">
        <div class="logopanel">
            <h2><a href="#">ERP</a></h2>
        </div>
        <div class="headerbar">
            <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        </div>
        <div class="header-right">
            <ul class="headermenu">
                <li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-logged" data-toggle="dropdown">
                            <!--<img src="../images/photos/loggeduser.png" alt="" />-->
                            {{profile.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                            <li><a [routerLink]="['/setting']"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                            <li><a [routerLink]="['/login']"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
<section>
    <sidebar></sidebar>
    <div class="mainpanel">
        <div class="contentpanel">
            <breadcrumb></breadcrumb>
            <router-outlet></router-outlet>
        </div>
    </div>
</section>