<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()" >&times;</button>
            <h4 class="modal-title">{{title || 'Logs'}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <img [src]="data.prod_image" style="width: 100%;">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-horizontal">
                        <div class="form-group info col-sm-12">
                            <label class="col-sm-4 control-label">Purchase ID</label>
                            <div class="col-sm-8">
                                <p class="form-control-static info text-bold">{{data.purchase.id}}</p>
                            </div>
                        </div>
                        <div class="form-group info col-sm-12">
                            <label class="col-sm-4 control-label">Created At</label>
                            <div class="col-sm-8">
                                <p class="form-control-static info text-bold">{{data.purchase.created_at | date:'dd/MM/yyyy hh:mm'}}</p>
                            </div>
                        </div>
                        <div class="form-group info col-sm-12">
                            <label class="col-sm-4 control-label">Supplier</label>
                            <div class="col-sm-8">
                                <p class="form-control-static info text-bold">{{data.purchase.supplier.name}}</p>
                            </div>
                        </div>
                        <div class="form-group info col-sm-12">
                            <label class="col-sm-4 control-label">SKU</label>
                            <div class="col-sm-8">
                                <p class="form-control-static info text-bold">{{data.sku}}</p>
                            </div>
                        </div>
                        <div class="form-group info col-sm-12">
                            <label class="col-sm-4 control-label">Specification</label>
                            <div class="col-sm-8">
                                <ul style="padding: 12px">
                                    <li *ngFor="let s of data.prod_spec">{{s.text}}: <span class="text-bold" [innerHtml]="transformSpecificationValue(s, s.value)"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group info col-sm-12">
                            <label class="col-sm-4 control-label">Price</label>
                            <div class="col-sm-8">
                                <p class="form-control-static info text-bold">{{data.prod_price | currency:'VND':true}}</p>
                            </div>
                        </div>
                        <div class="form-group info col-sm-12">
                            <label class="col-sm-4 control-label">Quantity</label>
                            <div class="col-sm-8">
                                <p class="form-control-static info text-bold">{{data.qty}}</p>
                            </div>
                        </div>
                        <div class="form-group info col-sm-12">
                            <label class="col-sm-4 control-label">Total</label>
                            <div class="col-sm-8">
                                <p class="form-control-static info text-bold">{{data.prod_price * data.qty | currency:'VND':true}}</p>
                            </div>
                        </div>
                        <div class="form-group info col-sm-12">
                            <label class="col-sm-4 control-label">Scheduled Date</label>
                            <div class="col-sm-8">
                                <p class="form-control-static info text-bold">{{data.scheduled_date | date:'dd/MM/yyyy'}}</p>
                            </div>
                        </div>
                        <div class="form-group info col-sm-12">
                            <label class="col-sm-4 control-label">Reference</label>
                            <div class="col-sm-8">
                                <p class="form-control-static info text-bold">{{data.reference}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <button type="button" class="btn btn-success btn-quirk btn-wide mr5" (click)="pickUp()" *ngIf="data.status === 'NW'">Receive</button>
                </div>
            </div>
        </div>
    </div>
</div>