<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()" >&times;</button>
            <h4 class="modal-title">{{title || 'Logs'}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form class="form-horizontal" *ngIf="data.prod_spec.length">
                    <div class="form-group col-sm-12" *ngFor="let v of data.prod_spec; let i = index;">
                        <label class="col-sm-3 control-label">{{v.text}}</label>
                        <div class="col-sm-9">
                            <div class="row" *ngIf="v.type === 'image' || v.type === 'media_image' || v.type === 'gallery'">
                                <div class="col-sm-9"><input type="file" class="form-control" id="{{v.code}}" [multiple]="v.type === 'gallery'" (change)="selectImage($event, i)"></div>
                                <div class="col-sm-3"><img src="{{data.prod_spec[i].value}}" style="width: 100%"></div>
                            </div>
                            <input type="text" class="form-control" [name]="v.code" [(ngModel)]="data.prod_spec[i].value" *ngIf="v.type === 'text'">
                            <input type="datetime" class="form-control" [name]="v.code" [(ngModel)]="data.prod_spec[i].value" *ngIf="v.type === 'datetime' || v.type === 'date'">
                            <input currencyMask [options]="{prefix:'',precision:0,align:'left',allowNegative:false}" class="form-control" [name]="v.code" [(ngModel)]="data.prod_spec[i].value" *ngIf="v.type === 'price'">
                            <textarea class="form-control" [name]="v.code" [(ngModel)]="data.prod_spec[i].value" rows="3" *ngIf="v.type === 'textarea'"></textarea>
                            <select class="form-control" [name]="v.code" [(ngModel)]="data.prod_spec[i].value" *ngIf="v.type === 'select' || v.type === 'multiselect' || v.type === 'boolean'" [multiple]="v.type === 'multiselect'" [class.select2]="v.type === 'multiselect'">
                                <option value="" *ngIf="v.type !== 'multiselect'">-- Select option --</option>
                                <option *ngFor="let i of v.optionData" [ngValue]="i.value">{{i.label}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>