<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">Order # {{data.bill_code}}
                    <span class="pull-right" style="cursor: pointer" (click)="showModalOrder(data)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Created At</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.created_at | date:'dd/MM/yyyy hh:mm'}}</p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold" [innerHtml]="data.status | status_order:true"></p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Order Type</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.is_retail | type_order}}</p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Source</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.cus_source_id | source_order}}</p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Total Base Price</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.total_base_price | currency:'VND':true}}</p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Discount</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.discount | currency:'VND':true}}</p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Shipping Price</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.shipping_price | currency:'VND':true}}</p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">VAT</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.vat | currency:'VND':true}}</p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Total Price</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.total_price | currency:'VND':true}}</p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Payment Method</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.payment_method | payment_method_order}}</p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Deposit Amount</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.customer_paid_amount | currency:'VND':true}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">Other Information</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">User Process</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info">
                                <span class="badge badge-primary" style="margin-right: 2px" *ngFor="let u of data.assigns">{{u.user?.name}}</span>
                                <button class="btn btn-xs btn-primary popover-button"><i class="fa fa-fw fa-plus"></i></button>
                            </p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Delivery Date</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.delivery_date | date:'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Due Date</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.due_date | date:'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">Delivery Information
                    <span class="pull-right" style="cursor: pointer" (click)="showModalAddress(data)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.address?.name}}</p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.address?.phone_number}}</p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.address?.email}}</p>
                        </div>
                    </div>
                    <div class="form-group info col-sm-12">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-9">
                            <p class="form-control-static info text-bold">{{data.address?.address}}, {{data.address?.ward}}, {{data.address?.district}}, {{data.address?.city}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">Products</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped-col" id="products" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">Comments</h4>
            </div>
            <div class="panel-body" style="max-height: 343.5px;overflow: auto;">
                <div class="panel panel-default" *ngFor="let c of data.comments">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-fw fa-user"></i> {{c.user?.name}}<span class="pull-right">{{c.created_at | date:'dd/MM/yyyy hh:mm'}}</span></h4>
                    </div>
                    <div class="panel-body" [innerHtml]="c.content"></div>
                    <div class="panel-footer" *ngIf="c.tags.length">
                        <span *ngFor="let t of c.tags"><i class="fa fa-fw fa-tag"></i> {{t.user?.name}}</span>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div [froalaEditor]="optionsEditor" [(froalaModel)]="comment.content"></div>
                <br />
                <button type="button" class="btn btn-success btn-quirk btn-wide mr5" (click)="addComment()">Comment</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">Activities</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive" style="max-height: 500px;overflow: auto;">
                    <table class="table table-bordered table-striped-col" width="100%">
                        <thead>
                        <tr>
                            <th>Created At</th>
                            <th>Content</th>
                            <th>Old</th>
                            <th>New</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let a of data.activities">
                            <td>{{a.created_at | date:'dd/MM/yyyy hh:mm'}}</td>
                            <td><strong>{{a.user?.name}}</strong> {{a.content}}</td>
                            <td>{{a.old_value}}</td>
                            <td>{{a.current_value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popover-content" style="display: none">
    <p>
        <select class="form-control" id="user" style="width: 200px" multiple>
            <option *ngFor="let i of users" [value]="i.id">{{i.name}}</option>
        </select>
    </p>
    <button type="button" class="btn btn-primary btn-quirk btn-xs" (click)="assign()">Save</button>
    <button type="button" class="btn btn-default btn-quirk btn-xs" (click)="closePopover()">Close</button>
</div>