.form-group.info {
  margin-bottom: 0;
}
.form-control-static.info {
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 0;
  }
}
.form-control-static {
  padding-top: 6px;
}