<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()" >&times;</button>
            <h4 class="modal-title">ORDER # {{title}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group col-sm-12" [ngClass]="{'has-error': submitted && form.controls.name.errors}">
                        <label class="col-sm-3 control-label">Name <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="name">
                            <label class="error" *ngIf="submitted && form.controls.name.hasError('required')">
                                This field is required.
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" [ngClass]="{'has-error': submitted && form.controls.phone_number.errors}">
                        <label class="col-sm-3 control-label">Phone <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="phone_number">
                            <label class="error" *ngIf="submitted && form.controls.phone_number.hasError('required')">
                                This field is required.
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" formControlName="email">
                        </div>
                    </div>
                    <div class="form-group col-sm-12" [ngClass]="{'has-error': submitted && form.controls.address.errors}">
                        <label class="col-sm-3 control-label">Address <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="address">
                            <label class="error" *ngIf="submitted && form.controls.address.hasError('required')">
                                This field is required.
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">Ward</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="ward">
                        </div>
                    </div>
                    <div class="form-group col-sm-12" [ngClass]="{'has-error': submitted && form.controls.district.errors}">
                        <label class="col-sm-3 control-label">District <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <select class="form-control" formControlName="district">
                                <option value="">-- Select option --</option>
                                <option *ngFor="let i of districts_tmp" [value]="i.name">{{i.name}}</option>
                            </select>
                            <label class="error" *ngIf="submitted && form.controls.district.hasError('required')">
                                This field is required.
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" [ngClass]="{'has-error': submitted && form.controls.city.errors}">
                        <label class="col-sm-3 control-label">City <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <select class="form-control" formControlName="city" (ngModelChange)="getDistrictByCity($event)">
                                <option value="">-- Select option --</option>
                                <option *ngFor="let i of cities" [value]="i.name">{{i.name}}</option>
                            </select>
                            <label class="error" *ngIf="submitted && form.controls.city.hasError('required')">
                                This field is required.
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
            <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
        </div>
    </div>
</div>