<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()" >&times;</button>
            <h4 class="modal-title">ORDER # {{title}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group col-sm-12" [ngClass]="{'has-error': submitted && form.controls.status.errors}">
                        <label class="col-sm-3 control-label">Status <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <select class="form-control" formControlName="status">
                                <option value="">-- Select option --</option>
                                <option *ngFor="let i of order_status" [value]="i.value">{{i.name}}</option>
                            </select>
                            <label class="error" *ngIf="submitted && form.controls.status.hasError('required')">
                                This field is required.
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" [ngClass]="{'has-error': submitted && form.controls.is_retail.errors}">
                        <label class="col-sm-3 control-label">Order Type <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <select class="form-control" formControlName="is_retail">
                                <option value="">-- Select option --</option>
                                <option *ngFor="let i of order_types" [value]="i.value">{{i.name}}</option>
                            </select>
                            <label class="error" *ngIf="submitted && form.controls.is_retail.hasError('required')">
                                This field is required.
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" [ngClass]="{'has-error': submitted && form.controls.cus_source_id.errors}">
                        <label class="col-sm-3 control-label">Source <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <select class="form-control" formControlName="cus_source_id">
                                <option value="">-- Select option --</option>
                                <option *ngFor="let i of order_sources" [value]="i.value">{{i.name}}</option>
                            </select>
                            <label class="error" *ngIf="submitted && form.controls.cus_source_id.hasError('required')">
                                This field is required.
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" [ngClass]="{'has-error': submitted && form.controls.payment_method.errors}">
                        <label class="col-sm-3 control-label">Payment Method <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <select class="form-control" formControlName="payment_method">
                                <option value="">-- Select option --</option>
                                <option *ngFor="let i of order_payment_methods" [value]="i.value">{{i.name}}</option>
                            </select>
                            <label class="error" *ngIf="submitted && form.controls.payment_method.hasError('required')">
                                This field is required.
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" [ngClass]="{'has-error': submitted && form.controls.customer_paid_amount.errors}">
                        <label class="col-sm-3 control-label">Deposit Amount <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <input currencyMask [options]="{prefix:'',precision:0,align:'left',allowNegative:false}" class="form-control" formControlName="customer_paid_amount">
                            <label class="error" *ngIf="submitted && form.controls.customer_paid_amount.hasError('required')">
                                This field is required.
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
            <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
        </div>
    </div>
</div>