<div class="panel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-6 form-horizontal">
                <div class="row">
                    <div class="form-group col-sm-4 col-sm-offset-4">
                        <div class="col-sm-8 col-xs-8 control-label">Purchase ID</div>
                        <div class="col-sm-4 col-xs-4 control-label"><strong>{{data.id}}</strong></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div style="text-align: right">
                    <button type="button" (click)="onSubmit('SM')" class="btn btn-default btn-quirk btn-stroke" *ngIf="data.status !== 'CO' && data.status !== 'DO'">Send Mail</button>
                    <button type="button" (click)="onSubmit('CO')" class="btn btn-primary btn-quirk btn-stroke" *ngIf="data.status === 'SM'">Confirm</button>
                    <button type="button" (click)="onSubmit('DO')" class="btn btn-success btn-quirk btn-stroke" *ngIf="data.status === 'CO'">Done</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" [formGroup]="form">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label class="col-sm-3 control-label">Product</label>
                    <div class="col-sm-9">
                        <input class="form-control" ngui-auto-complete
                               [source]="loadProducts.bind(this)"
                               min-chars="2"
                               display-property-name="name"
                               list-formatter="name (sku)"
                               (change)="clearInput($event)"
                               (valueChanged)="selectedItem($event)">
                    </div>
                </div>
                <div class="form-group col-sm-3" [ngClass]="{'has-error': submitted && form.controls.supplier_id.errors}">
                    <label class="col-sm-4 control-label">Supplier <span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                        <select class="form-control" formControlName="supplier_id">
                            <option value="">-- Select option --</option>
                            <option *ngFor="let i of suppliers" [value]="i.id">{{i.name}}</option>
                        </select>
                        <label class="error" *ngIf="submitted && form.controls.supplier_id.hasError('required')">
                            This field is required.
                        </label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <label class="col-sm-6" style="text-align: right">Created At:</label>
                        <div class="col-sm-6">
                            <strong>{{data.created_at | date:'dd/MM/yyyy hh:mm'}}</strong>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-6" style="text-align: right">Created By:</label>
                        <div class="col-sm-6">
                            <strong>{{data.created_by.name}}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <label class="col-sm-6" style="text-align: right">Updated At:</label>
                        <div class="col-sm-6">
                            <strong>{{data.updated_at | date:'dd/MM/yyyy hh:mm'}}</strong>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-6" style="text-align: right">Updated By:</label>
                        <div class="col-sm-6" *ngIf="data.updated_by">
                            <strong>{{data.updated_by.name}}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1" id="status-purchase" [innerHtml]="data.status | status_purchase:true"></div>
            </div>

            <hr style="width: 100%">

            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped-col" id="data-table" width="100%">
                            <thead>
                            <tr>
                                <th class="col-sm-1">Image</th>
                                <th>Name</th>
                                <th>SKU</th>
                                <th>Specification</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Scheduled Date</th>
                                <th>Reference</th>
                                <th>Note</th>
                                <th width="75"></th>
                            </tr>
                            </thead>
                            <tbody formArrayName="products">
                            <tr *ngFor="let item of form.controls.products.controls; let i=index" [formGroupName]="i">
                                <td><img [src]="item.value.prod_image" style="width: 100%"></td>
                                <td>{{item.value.prod_name}}</td>
                                <td>{{item.value.sku}}</td>
                                <td>
                                    <ul style="padding: 0;list-style: none;">
                                        <li *ngFor="let s of item.value.prod_spec">{{s.text}}: <span [innerHtml]="transformSpecificationValue(s, s.value)"></span></li>
                                    </ul>
                                    <a (click)="showModalSpec(item.value)">Edit</a>
                                </td>
                                <td [ngClass]="{'has-error': submitted && item.controls.prod_price.errors}">
                                    <input currencyMask [options]="{prefix:'',precision:0,align:'left',allowNegative:false}" class="form-control" formControlName="prod_price" style="height: 26px;margin-top: -3px;" (keyup)="calculateTotal(i)">
                                </td>
                                <td [ngClass]="{'has-error': submitted && item.controls.qty.errors}">
                                    <input currencyMask [options]="{prefix:'',precision:0,align:'left',allowNegative:false}" class="form-control" formControlName="qty" style="height: 26px;margin-top: -3px;" (keyup)="calculateTotal(i)">
                                </td>
                                <td><input currencyMask [options]="{prefix:'',precision:0,align:'left',allowNegative:false}" class="form-control" formControlName="total" style="height: 26px;margin-top: -3px;"></td>
                                <td [ngClass]="{'has-error': submitted && item.controls.scheduled_date.errors}">
                                    <input type="datetime" id="{{i}}" class="form-control" formControlName="scheduled_date" style="height: 26px;margin-top: -3px;">
                                </td>
                                <td [ngClass]="{'has-error': submitted && item.controls.reference.errors}">
                                    <input type="text" class="form-control" formControlName="reference" style="height: 26px;margin-top: -3px;">
                                </td>
                                <td>
                                    <textarea class="form-control" rows="2" formControlName="note" style="margin-top: -3px;"></textarea>
                                </td>
                                <td>
                                    <button class="btn btn-success btn-stroke btn-icon" style="width: 20px;height: 20px;" (click)="receive(i)" *ngIf="data.status === 'CO' && !item.value.received_qty"><i class="fa fa-check" aria-hidden="true"></i></button>
                                    <button class="btn btn-success btn-stroke btn-icon" style="width: 20px;height: 20px;" (click)="remove(i)" *ngIf="data.status !== 'DO' && !item.value.received_qty"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="error" style="text-align: center;" *ngIf="submitted && !form.controls.products.controls.length">
                        <label class="error">Please input products.</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <button type="submit" class="btn btn-success btn-quirk btn-wide mr5" (click)="onSubmit()" *ngIf="data.status !== 'DO'">Save</button>
                    <button type="button" class="btn btn-quirk btn-wide btn-default" (click)="back()">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>