<div class="panel">
    <div class="panel-heading">
        <!--<button class="btn btn-success btn-quirk btn-wide mr5" [routerLink]="['/product/add']">Add New</button>-->
        <button class="btn btn-success btn-quirk btn-wide mr5" (click)="export()">Export</button>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped-col" id="data-table" width="100%">
                <tfoot>
                <tr>
                    <th></th>
                    <th><input type="text" class="form-control" data-type="id"></th>
                    <th><input type="daterange" class="form-control" data-type="date"></th>
                    <th><input type="text" class="form-control" data-type="regex"></th>
                    <th><input type="text" class="form-control" data-type="number"></th>
                    <th>
                        <select class="form-control select2" style="width: 100%" multiple>
                            <option *ngFor="let i of purchase_status" [value]="i.value">{{i.name}}</option>
                        </select>
                    </th>
                    <th><input type="text" class="form-control" data-type="regex"></th>
                    <th><input type="daterange" class="form-control" data-type="date"></th>
                    <th><input type="text" class="form-control" data-type="regex"></th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>