<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">Dashboard</h4>
        <!--<p>For basic styling add the base class <code>.table</code> to any table.</p>-->
    </div>
    <!--<div class="panel-body">-->
        <!--<datatable [columns]="columns" [loadData]="loadData.bind(this)"></datatable>-->
        <!--<div class="table-responsive">-->
            <!--<table class="table table-bordered table-striped-col responsive" id="test" width="100%">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th class="no-sort text-center">-->
                        <!--<label class="ckbox ckbox-primary">-->
                            <!--<input type="checkbox"><span></span>-->
                        <!--</label>-->
                    <!--</th>-->
                    <!--<th>Name</th>-->
                    <!--<th>Position</th>-->
                    <!--<th>Office</th>-->
                    <!--<th class="text-center">Age</th>-->
                    <!--<th class="text-right">Start date</th>-->
                    <!--<th class="text-right">Salary</th>-->
                    <!--<th class="no-sort"></th>-->
                <!--</tr>-->
                <!--</thead>-->
            <!--</table>-->
        <!--</div>&lt;!&ndash; table-responsive &ndash;&gt;-->
    <!--</div>-->
</div>