<section>
    <div class="notfoundpanel">
        <h1>404!</h1>
        <h3>The page you are looking for has not been found!</h3>
        <h4>The page you are looking for might have been removed, had its name changed,<br>or unavailable.</h4>
        <hr class="darken">
        <ul class="list-inline">
            <li class="pull-right">Quirk &copy; 2015. All Rights Reserved.</li>
        </ul>
    </div>
</section>